body{
    background: wheat;
}

#header-container{
    margin: 0 auto;
    margin-top: 20vh;
    font-size: 25px;
    text-align: center;
}
#input-container{
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
#food_submit{
    margin: 9px;
}
