<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beerings</title>
    <link rel="stylesheet" href="style/landingStyle.css">
    <script type="text/javascript" src="js/landing.js"></script>
</head>
<body>

    <div id="header-container">
        <h3>
            Got some dinner ideas but don't know what kind beer to drink with it? <br>
            Through Brew Dog's API we can help suggest something just right for you..
        </h3>
    </div>
    <div id="age-container">
        <h4>
            Please confirm that you are at least 21 years old
        </h4>
        <input id="birthDate" type="date"><br>
        <button id="age_submit" type="submit">Submit</button>
    </div>

</body>
</html>